// css for old super admin

// .mov {
//   padding: 11px 0px;
//   background: #f6f6f6;
//   border-radius: 15px;
//   width: 100%;
//   margin: 0px 55px;
//   display: flex;
//   flex-direction: column;
// }

// css for new super admin
.mov {
  border: 1px solid #f7f9fc;
  border-radius: 31px;
  box-shadow: 0 2px 12px 0 rgb(208 221 240);
  background: white !important;
  padding: 20px 30px;
  max-width: 680px;
  margin: 0 auto;
}

ul.box345 li {
  position: relative;
  width: 100%;
  padding-left: 200px;
  margin: 10px 43px;
}
.form_Box {
  margin: 3px 7px;
  padding: 4px 5px;
}

.Add_Button {
  background-color: #002b6b !important;
  color: white !important;
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 11px;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  font-size: 14px;
  line-height: 1.143em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
}
.Add_Button:hover {
  padding: 10px 20px;
  justify-content: center;
  border-radius: 11px;
  background-color: #00b0ee !important;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 1.143em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
  transition: all 0.3s ease-in-out;
  transform: scale3d(1.06, 1.06, 1.01);
}
.subcatHeading {
  text-align: center;
  padding: 9px 0;
  /* margin-top: 37px; */
  font-weight: 500;
}

.inputBox {
  min-height: 45px;
  margin-bottom: 0px;
  padding: 8px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcedb;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 14px;
  line-height: 1.143em;
  width: 100%;
  min-width: 270px;
}
.productLabel {
  color: black;
  background: #f6f6f6;
}
.dropdownBox {
  width: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #fff;
}

.mov {
  h1 {
    text-align: center;
    padding: 9px 0;
    /* margin-top: 37px; */
    font-weight: 500;
  }
}

// Table Format

.tableMain {
  display: flex;
  gap: 38px;
  padding: 20px 36px 16px;
  white-space: nowrap;
  background: aliceblue;
}

.tableMain3 {
  display: flex;
  gap: 38px;
  padding: 20px 36px 16px;
  white-space: nowrap;
}
.tableBoxx {
  display: flex;
  justify-content: space-between;
  padding: 20px 36px 16px;
}
.arrowBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrowImage {
  background: white;
  /* color: white; */
  border: 1px solid;
  border-radius: 50%;
}

.topTable {
  margin: auto 30px;
  border: 1px solid #f7f9fc;
  border-radius: 31px;
  box-shadow: 0 2px 12px 0 rgb(208 221 240);
}
.downloadButton {
  padding: 18px 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #1476ff;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  -webkit-transition: background-color 300ms ease, color 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 300ms ease, color 300ms ease,
    -webkit-transform 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border: none;
}

.FirstSection {
  background: cadetblue;
  display: inline-block;
  width: 80px;
  padding: 16px;
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: inherit;
  transition: 0.3s;
  li:hover {
    background-color: burlywood;
  }
}
@media only screen and (max-width: 600px) {
  .mov {
    padding: 20px 8px;
    /* max-width: 336px; */
    margin: 0 8px;
  }

  .inputBox {
    min-width: inherit;
  }
}
