// css for old super admin

// .mov {
//   padding: 11px 0px;
//   background: #f6f6f6;
//   border-radius: 15px;
//   width: 100%;
//   margin: 0px 55px;
//   display: flex;
//   flex-direction: column;
// }

// css for new super admin
.mov {
  padding: 0;
  /* background: #f7f9fc; */
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
  align-items: center;
}

ul.box345 li {
  position: relative;
  width: 100%;
  padding-left: 200px;
  margin: 30px 14px;
}
.form_Box {
  margin: 3px 7px;
  padding: 4px 5px;
}

.Add_Button {
  background-color: #002b6b !important;
  color: white !important;
  border-radius: 11px;
  width: 50%;
  border: none;

  margin-left: 121px;
  height: 36px;
}

.subcatHeading {
  // padding: 9px 0;

  font-weight: 700;
}
.selectplan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputBox {
  width: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #fff;
}
.productLabel {
  color: black;
  background: #f6f6f6;
}
.dropdownBox {
  width: 100%;
  position: relative;
  border-radius: 5px;

  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
}

.inputBox {
  width: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #fff;

  label {
    position: absolute;
    padding-left: 5px;
    margin-left: 20px;
    margin-top: -8px;
    font-size: 14px;
    color: #999 !important;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
    background: white !important;
  }
}

.mov {
  h1 {
    padding: 9px 0;

    color: #0b0e2c;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
  }

  p {
    color: #6f7182;
  }
}

.inputbox {
  position: relative;
}

.inputlabel {
  position: absolute;
  left: 14px;
  bottom: 37px;
  padding: 0.1rem 0.2rem;
  white-space: nowrap;
  background: white;
  line-height: 1.2;
  color: #999 !important;
  font-size: 14px;
}

.inputfeild {
  min-height: 46px;
  margin-bottom: 0px;
  padding: 8px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcedb;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 14px;
  line-height: 1.143em;
  width: 100%;
  min-width: 270px;
}

.inputfeildCal {
  min-height: 46px;
  margin-bottom: 0px;
  padding: 8px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcedb;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 14px;
  line-height: 1.143em;
  width: 100%;
  min-width: 150px;
}

// Table Format

.tableMain {
  gap: 38px;
  padding: 27px 30px 21px;
  white-space: nowrap;
  justify-content: space-between;
  color: #6f7182;
  font-size: 14px;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  // margin: 9px 0;
  h4 {
    padding: 0px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143em;
    color: #0b0e2c;
  }
}

.todayBox {
  padding: 0px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143em;
  /* color: #0b0e2c; */
  /* gap: 38px; */
  padding: 0px 40px 0px;
  white-space: nowrap;
  /* justify-content: space-between; */
  color: #6f7182;
  font-size: 14px;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

// .tableMain:hover {
//   transform-style: preserve-3d;
//   border: none;
//   transition: all 0.3s ease-in-out;
//   transform: scale3d(1.06, 1.06, 1.01);
// }

.tableMain3 {
  display: flex;
  gap: 38px;
  padding: 20px 36px 16px;
  white-space: nowrap;
  justify-content: space-between;
  color: #6f7182;
  font-size: 14px;
}
.tableBoxx {
  display: flex;
  justify-content: center;
  padding: 0px 36px;
  align-items: center;
  font-size: 24px;
}
.arrowBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.topTable {
  //   margin: auto 170px;
  border: 1px solid #f7f9fc;
  border-radius: 31px;
  box-shadow: 0 2px 12px 0 rgb(208 221 240);
  background: white !important;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}
.downloadButton {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: #00b0ee;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
  transition: all 0.3s ease-in-out;
}
.downloadButton:hover {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: #223268;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
  transition: all 0.3s ease-in-out;
  transform: scale3d(1.06, 1.06, 1.01);
}
.dropdownBox1 {
  display: flex;
  gap: 15px;
  font-size: 14px;
  align-items: center;

  h4 {
    font-weight: 500;
    font-size: 20px;
    margin: 6px 0px;
  }

  h5 {
    color: white !important;
    font-size: 11px;
    background: red;
    border-radius: 50%;
    margin: 0;
    padding: 4px 5px;
    font-weight: 500;
  }
}

.dropdownBox {
  display: flex;

  gap: 18px;
  align-items: center;

  p {
    padding: 10px 0;
    margin: 0;
    font-weight: 600;
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
}
.notificationName {
  font-size: 16px;
  line-height: 1.125em;
  font-weight: 700;
  color: rgb(11, 14, 44);
  margin: 0;
  padding: 0;
}
.notificationName1 {
  font-size: 16px;
  line-height: 1.125em;
  font-weight: 500;
  color: #6f7182;
  margin: 0;
  padding: 0;
}
.flexNotification {
  display: flex;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
}
.dotClass {
  display: flex;
  /* justify-content: center; */
  gap: 15px;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
}
.inputflexupload {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.notification {
  color: white !important;

  background: #e03736;
  border-radius: 50%;

  padding: 1px 6px;
  font-weight: 700;
  font-size: 14px;
}

.allButton {
  padding: 12px 30px;
  justify-content: center;
  border-radius: 11px;
  background-color: #00b0ee;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700 !important;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none !important;
  transition: all 0.3s ease-in-out;

  .allButton:hover {
    padding: 12px 18px;
    justify-content: center;
    border-radius: 11px;
    background-color: #223268;
    box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
    transition: background-color 300ms ease, transform 300ms ease,
      color 300ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 1.143em;
    font-weight: 700 !important;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    border: none !important;
    transition: all 0.3s ease-in-out;
    transform: scale3d(1.06, 1.06, 1.01);
  }
}

.unRead {
  padding: 9px 12px;
  justify-content: center;
  border-radius: 11px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: black;
  font-size: 8px !important;
  /* line-height: 1.143em; */
  font-weight: 400 !important;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: 1px solid #ebecf4;
  transition: all 0.3s ease-in-out;

  .unRead:hover {
    padding: 12px 18px;
    justify-content: center;
    border-radius: 11px;
    background-color: #223268;
    box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
    transition: background-color 300ms ease, transform 300ms ease,
      color 300ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 1.143em;
    font-weight: 700 !important;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    border: 1px solid #ebecf4;
    transition: all 0.3s ease-in-out;
    transform: scale3d(1.06, 1.06, 1.01);
  }
}
.inputForm {
  min-height: 45px;
  margin-bottom: 0px;
  padding: 8px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcedb;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 14px;
  line-height: 1.143em;
  width: 100%;
  min-width: 240px;
}

.inputFormFile {
  min-height: 45px;
  margin-bottom: 0px;
  padding: 8px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcedb;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 11px;
  line-height: 2.143em;
  /* width: 100%; */
  min-width: 241px;
}
.inputFlex {
  display: flex;
  padding: 3px 0;
  justify-content: center;

  gap: 20px;
  margin: 10px 40px;
  flex-direction: column;

  h3 {
    margin: 0;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #999 !important;
    font-size: 14px;
  }
}
.TextareaBox1 {
  min-height: 140px;
  margin-bottom: 0px;
  padding: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9eaf3;
  border-radius: 22px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(11 22 44 / 5%);
  -webkit-transition: box-shadow 300ms ease, color 300ms ease,
    border-color 300ms ease;
  transition: box-shadow 300ms ease, color 300ms ease, border-color 300ms ease;
  font-size: 14px;
  line-height: 1.143em;
}
.textareaBox {
  padding: 0 40px;
  h3 {
    margin: 0;
    padding: 10px 0;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 1.143em;
  }
}
.container_width {
  max-width: 1550px;
  margin: 0px auto;
}
.disablesubmitButton {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: grey;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);

  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  border: none;

  margin: 15px 45px;
  display: flex;
}

.disablesubmitButton:hover {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: grey;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);

  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  border: none;

  margin: 15px 45px;
  display: flex;
}
.saveButton {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: #00b0ee;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
  transition: all 0.3s ease-in-out;
  margin: 15px 45px;
  display: flex;
}
.saveButton:hover {
  padding: 12px 18px;
  justify-content: center;
  border-radius: 11px;
  background-color: #223268;
  box-shadow: 0 4px 10px 0 rgb(2 87 251 / 20%);
  transition: background-color 300ms ease, transform 300ms ease,
    color 300ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transform-style: preserve-3d;
  border: none;
  transition: all 0.3s ease-in-out;
  transform: scale3d(1.06, 1.06, 1.01);
}
.inputFlex3 {
  display: flex;

  justify-content: center;
  /* width: 100%; */
  gap: 70px;
}
.disableinput:disabled {
  background: #dadada59;
}

@media only screen and (max-width: 600px) {
  .topTable {
    margin: auto 10px;
    border: 1px solid #f7f9fc;
    border-radius: 31px;
    box-shadow: 0 2px 12px 0 rgb(208 221 240);
    background: white !important;
    padding: 20px 0;
  }

  .inputForm {
    min-height: 45px;
    margin-bottom: 0px;
    padding: 8px 20px;

    line-height: 1.143em;
    width: 100%;
    /* min-width: 190px; */
  }

  .inputFlex {
    display: flex;
    padding: 15px 0px 0;
    justify-content: center;
    /* width: 100%; */
    gap: 20px;
    flex-direction: column;
  }
  .inputFlex {
    margin: 10px 10px;
  }
  .notificationName {
    font-size: 13px;
  }

  .tableMain {
    gap: 38px;
    padding: 21px 8px 18px;
  }
}
